.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 433px}
.u-section-1 .u-layout-wrap-1 {top: 0; bottom: 0; left: 0; right: 0; width: 1140px; min-height: 0; margin: 1px auto 1px 0}
.u-section-1 .u-layout-cell-1 {min-height: 451px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-image-1 {width: 559px; height: 649px; min-height: 0; margin: -184px auto 0 187px}
.u-section-1 .u-text-1 {position: relative; width: 520px; top: 0; bottom: 0; left: 0; right: 0; min-height: 0; font-weight: bold; font-size: 3.75rem; height: 132px; margin: -263px 0 0}
.u-section-1 .u-text-2 {text-transform: none; letter-spacing: normal; font-size: 1.875rem; top: 0; bottom: 0; left: 0; right: 0; width: 520px; min-height: 0; font-weight: 400; height: 36px; margin: 30px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 451px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-line-1 {height: 109px; transform-origin: center bottom 0; width: 8px; top: 0; bottom: 0; left: 0; right: 0; min-height: 0; margin: 34px 0 0 auto}
.u-section-1 .u-text-3 {position: relative; text-transform: none; font-weight: bold; line-height: 106px; font-size: 8rem; top: 0; bottom: 0; left: 0; right: 0; width: 520px; min-height: 0; height: 105px; margin: 64px 0 0}
.u-section-1 .u-text-4 {text-transform: uppercase; letter-spacing: 10px; font-weight: 700; position: relative; top: 0; bottom: 0; left: 0; right: 0; width: 520px; min-height: 0; font-size: 2.25rem; height: 43px; margin: 0} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {height: 431px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-image-1 {width: 461px; height: 535px; top: 0; bottom: 0; left: 0; right: 0; margin-top: -70px; margin-left: 154px}
.u-section-1 .u-text-1 {font-weight: 300; font-size: 3rem; width: 429px}
.u-section-1 .u-text-2 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; width: 429px}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-line-1 {width: 7px}
.u-section-1 .u-text-3 {text-transform: uppercase; font-weight: 700; line-height: 1; font-size: 9.125rem; width: 429px}
.u-section-1 .u-text-4 {width: 429px} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 597px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 0}
.u-section-1 .u-image-1 {width: 353px; height: 410px; margin-top: 55px; margin-left: 118px}
.u-section-1 .u-text-1 {font-size: 3.75rem; width: 328px}
.u-section-1 .u-text-2 {width: 328px}
.u-section-1 .u-layout-cell-2 {min-height: 597px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-line-1 {width: 5px}
.u-section-1 .u-text-3 {font-size: 6rem; width: 328px}
.u-section-1 .u-text-4 {font-size: 3rem; width: 328px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1006px}
.u-section-1 .u-layout-cell-1 {min-height: 381px}
.u-section-1 .u-container-layout-1 {padding-left: 5px}
.u-section-1 .u-image-1 {width: 331px; height: 384px; margin-left: 89px}
.u-section-1 .u-text-1 {width: 308px}
.u-section-1 .u-text-2 {width: 308px}
.u-section-1 .u-layout-cell-2 {min-height: 299px}
.u-section-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-text-3 {font-size: 8rem; width: 308px}
.u-section-1 .u-text-4 {width: 308px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 632px}
.u-section-1 .u-layout-cell-1 {min-height: 205px}
.u-section-1 .u-container-layout-1 {padding-left: 1px}
.u-section-1 .u-image-1 {width: 284px; height: 284px; margin-left: 56px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-text-2 {font-size: 1.125rem}
.u-section-1 .u-layout-cell-2 {min-height: 314px}
.u-section-1 .u-container-layout-2 {padding-left: 1px; padding-right: 1px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 394px}
.u-section-2 .u-layout-wrap-1 {margin: 45px auto 45px 0}
.u-section-2 .u-layout-cell-1 {min-height: 337px; background-image: none}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-text-1 {margin: 30px 0 0}
.u-section-2 .u-text-2 {font-size: 4.5rem; font-weight: 800; margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 337px; background-image: none}
.u-section-2 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-text-3 {margin: 30px 0 0}
.u-section-2 .u-text-4 {font-size: 4.5rem; font-weight: 800; margin: 0}
.u-section-2 .u-layout-cell-3 {min-height: 337px; background-image: none}
.u-section-2 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-icon-3 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-text-5 {margin: 30px 0 0}
.u-section-2 .u-text-6 {font-size: 4.5rem; font-weight: 800; margin: 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-icon-1 {height: 53px; width: 53px; position: relative}
.u-section-2 .u-text-1 {position: relative; font-size: 1.125rem; text-transform: uppercase; letter-spacing: 4px}
.u-section-2 .u-text-2 {position: relative} }

@media (max-width: 991px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-icon-1 {height: 40px; width: 40px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1378px}
.u-section-2 .u-layout-wrap-1 {width: 418px; margin-right: auto; margin-left: 61px}
.u-section-2 .u-layout-cell-1 {min-height: 305px}
.u-section-2 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-icon-1 {height: 38px; width: 38px}
.u-section-2 .u-layout-cell-2 {min-height: auto}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-3 {min-height: auto}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 340px; margin-left: -1px}
.u-section-2 .u-container-layout-1 {padding-left: 1px; padding-right: 1px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 725px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 644px}
.u-section-3 .u-text-1 {font-size: 2.25rem; width: 530px; margin: 39px 20px 0}
.u-section-3 .u-image-1 {width: 377px; height: 467px; margin: 45px auto 0 -80px}
.u-section-3 .u-text-2 {width: 441px; margin: -480px -111px 60px 240px}
.u-section-3 .u-layout-cell-2 {min-height: 644px}
.u-section-3 .u-text-3 {margin: 439px 20px 0}
.u-section-3 .u-link-1 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; position: relative; margin: 32px auto 49px 20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 754px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 634px}
.u-section-3 .u-text-1 {font-size: 3rem; width: auto; margin-right: -77px; margin-left: 16px}
.u-section-3 .u-image-1 {width: 310px; height: 385px; margin-left: -66px}
.u-section-3 .u-text-2 {width: auto; margin: -414px -193px 227px 265px}
.u-section-3 .u-layout-cell-2 {min-height: 634px}
.u-section-3 .u-text-3 {margin-top: 415px; margin-left: 16px; margin-right: 16px}
.u-section-3 .u-link-1 {margin-top: 45px; margin-bottom: 10px; margin-left: 16px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 912px}
.u-section-3 .u-layout-wrap-1 {margin-top: 27px; margin-bottom: 90px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 777px}
.u-section-3 .u-text-1 {margin-top: 27px; margin-right: -48px; margin-left: 10px}
.u-section-3 .u-image-1 {width: 246px; height: 425px; margin-top: 138px; margin-left: -50px}
.u-section-3 .u-text-2 {margin-top: -544px; margin-right: -122px; margin-left: 168px; width: 314px}
.u-section-3 .u-layout-cell-2 {min-height: 777px}
.u-section-3 .u-text-3 {margin-top: 557px; margin-left: 10px; margin-right: 10px}
.u-section-3 .u-link-1 {margin-top: 27px; margin-bottom: 19px; margin-left: 10px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1284px}
.u-section-3 .u-layout-wrap-1 {margin-top: 34px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 601px}
.u-section-3 .u-text-1 {margin-right: -23px; margin-left: 5px; width: 558px}
.u-section-3 .u-image-1 {margin-left: -24px; width: 231px; height: 398px}
.u-section-3 .u-text-2 {width: auto; margin: -490px 0 176px 169px}
.u-section-3 .u-layout-cell-2 {min-height: 392px}
.u-section-3 .u-text-3 {margin-top: 414px; margin-left: 5px; margin-right: 5px}
.u-section-3 .u-link-1 {margin-bottom: -7px; margin-left: 5px} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-1 {min-height: 695px}
.u-section-3 .u-text-1 {margin-top: 78px; margin-left: 0; margin-right: 0; width: 340px}
.u-section-3 .u-image-1 {height: 340px; margin-top: 188px; margin-left: -53px}
.u-section-3 .u-text-2 {margin-top: -478px; margin-bottom: 63px; margin-left: 50px}
.u-section-3 .u-layout-cell-2 {min-height: 609px}
.u-section-3 .u-text-3 {margin-left: 1px; margin-right: 1px}
.u-section-3 .u-link-1 {margin-left: 1px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 1557px}
.u-section-4 .u-group-1 {width: 855px; min-height: 371px; height: auto; margin: 36px 0 0 auto}
.u-section-4 .u-container-layout-1 {padding-right: 20px}
.u-section-4 .u-text-1 {margin: 35px 0 0 92px}
.u-section-4 .u-text-2 {font-size: 1.25rem; text-transform: uppercase; letter-spacing: 4px; margin: 20px 0 0 20px}
.u-section-4 .u-text-3 {position: relative; margin: 20px 0 35px 20px}
.u-section-4 .u-layout-wrap-1 {width: 1140px; margin: 38px auto 137px 0}
.u-section-4 .u-image-1 {background-image: url("images/peopleportraitchildpoverty141651.jpeg"); min-height: 515px; background-position: 50% 50%}
.u-section-4 .u-image-2 {background-image: url("images/pexelsphoto236187.jpeg"); min-height: 498px; background-position: 50% 50%}
.u-section-4 .u-image-3 {background-image: url("images/pexelsphoto185847.jpeg"); min-height: 330px; background-position: 50% 50%}
.u-section-4 .u-layout-cell-4 {min-height: 315px}
.u-section-4 .u-container-layout-5 {padding-left: 20px}
.u-section-4 .u-text-4 {margin: 20px 163px 0 0}
.u-section-4 .u-text-5 {margin: 30px 20px 20px 0}
.u-section-4 .u-image-4 {background-image: url("images/pexelsphoto258308.jpeg"); min-height: 368px; background-position: 50% 50%}
.u-section-4 .u-image-5 {background-image: url("images/pexelsphoto60778.jpeg"); min-height: 515px; background-position: 50% 50%}
.u-section-4 .u-layout-cell-7 {min-height: 498px; background-image: none}
.u-section-4 .u-container-layout-8 {padding-left: 20px}
.u-section-4 .u-text-6 {margin: 20px 163px 0 0}
.u-section-4 .u-text-7 {margin: 30px 20px 20px 0}
.u-section-4 .u-link-1 {margin-right: 0; position: relative; margin-left: 0; text-transform: uppercase; letter-spacing: 4px; font-weight: 700} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 1473px}
.u-section-4 .u-group-1 {width: 860px; min-height: 388px}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {position: relative; font-size: 3rem; margin-top: 40px; margin-left: 76px}
.u-section-4 .u-text-2 {position: relative; margin-left: 16px}
.u-section-4 .u-text-3 {margin-bottom: 40px; margin-left: 16px}
.u-section-4 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-1 {min-height: 486px}
.u-section-4 .u-image-2 {min-height: 473px}
.u-section-4 .u-image-3 {min-height: 287px}
.u-section-4 .u-layout-cell-4 {min-height: 354px}
.u-section-4 .u-container-layout-5 {padding-left: 16px; padding-right: 0}
.u-section-4 .u-text-4 {font-weight: 700; font-size: 8rem; width: auto; margin-right: 77px}
.u-section-4 .u-text-5 {margin-right: 16px; margin-bottom: 0}
.u-section-4 .u-image-4 {min-height: 317px}
.u-section-4 .u-image-5 {min-height: 415px}
.u-section-4 .u-layout-cell-7 {min-height: 544px}
.u-section-4 .u-container-layout-8 {padding-left: 16px}
.u-section-4 .u-text-6 {font-weight: 700; font-size: 8rem; width: auto; margin-right: 69px}
.u-section-4 .u-text-7 {margin-right: 16px; margin-bottom: 0}
.u-section-4 .u-link-1 {margin-bottom: 0} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 2322px}
.u-section-4 .u-group-1 {width: 659px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-1 {margin-left: 48px}
.u-section-4 .u-text-2 {margin-left: 10px}
.u-section-4 .u-text-3 {margin-left: 10px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 85px}
.u-section-4 .u-text-4 {margin-right: 49px; width: NaNpx}
.u-section-4 .u-text-5 {margin-right: 10px}
.u-section-4 .u-container-layout-8 {padding-left: 10px}
.u-section-4 .u-text-6 {margin-right: 44px; width: NaNpx}
.u-section-4 .u-text-7 {margin-right: 10px} }

@media (max-width: 767px){ .u-section-4 .u-group-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-4 .u-text-1 {margin-left: 23px}
.u-section-4 .u-text-2 {margin-left: 5px}
.u-section-4 .u-text-3 {margin-left: 5px}
.u-section-4 .u-container-layout-5 {padding-left: 5px; padding-right: 40px}
.u-section-4 .u-text-4 {margin-right: 23px}
.u-section-4 .u-text-5 {margin-right: 5px}
.u-section-4 .u-container-layout-8 {padding-left: 5px}
.u-section-4 .u-text-6 {margin-right: 21px}
.u-section-4 .u-text-7 {margin-right: 5px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1557px}
.u-section-4 .u-group-1 {width: 340px; min-height: 371px}
.u-section-4 .u-container-layout-1 {padding-left: 1px; padding-right: 6px}
.u-section-4 .u-text-1 {margin-top: 35px; margin-left: 27px}
.u-section-4 .u-text-2 {margin-left: 6px}
.u-section-4 .u-text-3 {margin-left: 6px; margin-bottom: 35px}
.u-section-4 .u-layout-wrap-1 {margin-top: 38px; margin-bottom: 137px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 515px}
.u-section-4 .u-image-2 {min-height: 498px}
.u-section-4 .u-image-3 {min-height: 330px}
.u-section-4 .u-layout-cell-4 {min-height: 315px}
.u-section-4 .u-container-layout-5 {padding-left: 6px; padding-right: 12px}
.u-section-4 .u-text-4 {margin-right: 49px}
.u-section-4 .u-text-5 {margin-right: 6px; margin-bottom: 20px}
.u-section-4 .u-image-4 {min-height: 368px}
.u-section-4 .u-image-5 {min-height: 515px}
.u-section-4 .u-layout-cell-7 {min-height: 498px}
.u-section-4 .u-container-layout-8 {padding-left: 6px}
.u-section-4 .u-text-6 {margin-right: 49px}
.u-section-4 .u-text-7 {margin-right: 6px; margin-bottom: 20px} }.u-section-5 {background-image: none}
.u-section-5 .u-image-1 {width: 377px; height: 624px; margin: 101px 0 0 auto}
.u-section-5 .u-sheet-1 {min-height: 729px; margin: -725px auto 0}
.u-section-5 .u-layout-wrap-1 {margin: 60px auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 669px}
.u-section-5 .u-image-2 {width: 336px; height: 434px; margin: -93px auto 0 0}
.u-section-5 .u-text-1 {margin: 60px 20px 0}
.u-section-5 .u-link-1 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; margin: 41px auto 65px 20px}
.u-section-5 .u-layout-cell-2 {min-height: 669px}
.u-section-5 .u-container-layout-2 {padding-left: 18px}
.u-section-5 .u-line-1 {height: 130px; width: 8px; transform-origin: center top 0; margin: 461px auto 0 150px}
.u-section-5 .u-text-2 {margin: -550px 151px 0 -111px}
.u-section-5 .u-text-3 {margin: 30px 240px 296px -111px} 

@media (max-width: 1199px){ .u-section-5 .u-image-1 {width: 311px; height: 515px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {width: 331px; height: 469px; margin-top: -204px}
.u-section-5 .u-text-1 {margin-left: 16px; margin-right: 16px}
.u-section-5 .u-link-1 {margin-left: 16px}
.u-section-5 .u-container-layout-2 {padding-left: 15px}
.u-section-5 .u-line-1 {width: 7px; margin-left: 124px}
.u-section-5 .u-text-2 {font-size: 3rem; margin-right: 125px; margin-left: -92px}
.u-section-5 .u-text-3 {margin-right: 198px; margin-left: -92px} }

@media (max-width: 991px){ .u-section-5 .u-image-1 {width: 238px; height: 394px}
.u-section-5 .u-layout-cell-1 {min-height: 796px}
.u-section-5 .u-image-2 {width: 253px; height: 359px; margin-top: -34px}
.u-section-5 .u-text-1 {margin-top: 165px; margin-left: 10px; margin-right: 10px}
.u-section-5 .u-link-1 {margin-top: 23px; margin-bottom: 80px; margin-left: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 796px}
.u-section-5 .u-container-layout-2 {padding-left: 12px}
.u-section-5 .u-line-1 {width: 5px; margin-left: 95px}
.u-section-5 .u-text-2 {margin-right: 95px; margin-left: -70px}
.u-section-5 .u-text-3 {margin-right: 152px; margin-left: -70px} }

@media (max-width: 767px){ .u-section-5 .u-image-1 {width: 223px; height: 369px}
.u-section-5 .u-image-2 {width: 341px; height: 443px}
.u-section-5 .u-text-1 {margin-top: 59px; margin-left: 5px; margin-right: 5px}
.u-section-5 .u-link-1 {margin-left: 5px}
.u-section-5 .u-container-layout-2 {padding-left: 18px}
.u-section-5 .u-line-1 {margin-left: 71px}
.u-section-5 .u-text-2 {margin-right: 72px; margin-left: -53px}
.u-section-5 .u-text-3 {margin-right: 114px; margin-left: -53px} }

@media (max-width: 575px){ .u-section-5 .u-image-1 {width: 187px; height: 310px}
.u-section-5 .u-layout-cell-1 {min-height: 618px}
.u-section-5 .u-image-2 {width: 340px; height: 340px}
.u-section-5 .u-text-1 {margin-left: 1px; margin-right: 1px}
.u-section-5 .u-link-1 {margin-bottom: 0; margin-left: 1px}
.u-section-5 .u-container-layout-2 {padding-left: 6px}
.u-section-5 .u-line-1 {width: 4px; margin-left: 45px}
.u-section-5 .u-text-2 {margin-right: 45px; margin-left: -33px}
.u-section-5 .u-text-3 {margin-right: 72px; margin-left: -33px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 725px}
.u-section-6 .u-layout-wrap-1 {margin: 60px auto 0 0}
.u-section-6 .u-layout-cell-1 {min-height: 669px}
.u-section-6 .u-text-1 {margin: 39px 20px 0}
.u-section-6 .u-image-1 {width: 377px; height: 467px; margin: 45px auto 0 -80px}
.u-section-6 .u-text-2 {margin: -480px -213px 0 273px}
.u-section-6 .u-text-3 {width: 183px; margin: 70px auto 65px}
.u-section-6 .u-layout-cell-2 {min-height: 669px}
.u-section-6 .u-image-2 {width: 336px; height: 434px; margin: -93px 0 0 auto}
.u-section-6 .u-text-4 {margin: 57px 20px 0}
.u-section-6 .u-link-1 {text-transform: uppercase; letter-spacing: 3px; font-weight: 700; margin: 56px auto 65px 20px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 652px}
.u-section-6 .u-layout-wrap-1 {margin-top: 18px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 634px}
.u-section-6 .u-text-1 {font-size: 3rem; width: auto; margin-top: 13px; margin-right: -48px; margin-left: 18px}
.u-section-6 .u-image-1 {width: 310px; height: 385px; margin-top: 113px; margin-left: -66px}
.u-section-6 .u-text-2 {margin-right: -176px; margin-left: 225px; width: 421px}
.u-section-6 .u-text-3 {font-size: 8rem; font-weight: 700; width: 151px; margin-top: 99px; margin-bottom: 0}
.u-section-6 .u-layout-cell-2 {min-height: 634px}
.u-section-6 .u-image-2 {width: 277px; height: 358px}
.u-section-6 .u-text-4 {margin-top: 101px; margin-left: 16px; margin-right: 16px}
.u-section-6 .u-link-1 {margin-top: 36px; margin-bottom: 0; margin-left: 16px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 749px}
.u-section-6 .u-layout-cell-1 {min-height: 713px}
.u-section-6 .u-text-1 {margin-right: -132px; margin-left: 11px}
.u-section-6 .u-image-1 {width: 238px; height: 419px; margin-left: -42px}
.u-section-6 .u-text-2 {width: auto; margin-top: -521px; margin-right: -113px; margin-left: 144px}
.u-section-6 .u-text-3 {width: auto; margin-top: 121px; margin-right: 36px; margin-left: 131px}
.u-section-6 .u-layout-cell-2 {min-height: 713px}
.u-section-6 .u-image-2 {width: 212px; height: 418px}
.u-section-6 .u-text-4 {margin-top: 123px; margin-left: 10px; margin-right: 10px}
.u-section-6 .u-link-1 {margin-top: 40px; margin-left: 10px} }

@media (max-width: 767px){ .u-section-6 .u-text-1 {margin-right: -63px; margin-left: 5px; width: 597px}
.u-section-6 .u-image-1 {width: 223px; height: 393px; margin-left: -20px}
.u-section-6 .u-text-2 {margin-top: -462px; margin-right: 17px; margin-left: 162px}
.u-section-6 .u-text-3 {width: 461px; margin: 18px 40px 70px}
.u-section-6 .u-image-2 {width: 348px; height: 496px}
.u-section-6 .u-text-4 {margin-top: 18px; margin-left: 5px; margin-right: 5px}
.u-section-6 .u-link-1 {margin-left: 5px} }

@media (max-width: 575px){ .u-section-6 .u-layout-cell-1 {min-height: 761px}
.u-section-6 .u-text-1 {margin-top: 58px; margin-left: 0; margin-right: 0; width: 340px}
.u-section-6 .u-image-1 {width: 267px; height: 379px; margin-top: 187px; margin-left: -50px}
.u-section-6 .u-text-2 {margin-top: -508px; margin-left: 5px; margin-right: 5px; width: 330px}
.u-section-6 .u-text-3 {width: 340px; margin: 1px 0 50px}
.u-section-6 .u-image-2 {height: 438px; margin-top: -40px; margin-right: initial; margin-left: initial; width: auto}
.u-section-6 .u-text-4 {margin-left: 1px; margin-right: 1px}
.u-section-6 .u-link-1 {margin-bottom: -12px; margin-left: 1px} }.u-section-7 {background-image: url("images/pexelsphoto458497.jpeg"); background-position: 50% 50%}
.u-section-7 .u-sheet-1 {min-height: 613px}
.u-section-7 .u-group-1 {width: 661px; min-height: 331px; height: auto; margin: 222px auto 60px 0}
.u-section-7 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-7 .u-text-1 {position: relative; margin: 20px 0 0}
.u-section-7 .u-text-2 {position: relative; font-size: 1.25rem; text-transform: uppercase; letter-spacing: 4px; margin: 20px 0 0}
.u-section-7 .u-text-3 {position: relative; margin: 20px 0 0}
.u-section-7 .u-link-1 {position: relative; text-transform: uppercase; letter-spacing: 4px; font-weight: 700; margin: 20px auto 20px 0} 

@media (max-width: 1199px){ .u-section-7 .u-group-1 {width: 545px}
.u-section-7 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-7 .u-text-1 {font-size: 3rem} }

@media (max-width: 991px){ .u-section-7 .u-group-1 {width: 417px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-7 .u-group-1 {width: 391px}
.u-section-7 .u-container-layout-1 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-7 {background-position: 31.35% 50%}
.u-section-7 .u-group-1 {width: 340px}
.u-section-7 .u-container-layout-1 {padding-left: 1px; padding-right: 1px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 497px}
.u-section-8 .u-layout-wrap-1 {margin: 41px auto 41px 0}
.u-section-8 .u-layout-cell-1 {min-height: 415px}
.u-section-8 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-8 .u-text-1 {margin: 44px 0 0}
.u-section-8 .u-line-1 {height: 120px; transform-origin: center bottom 0; width: 8px; margin: 135px 70px 0 auto}
.u-section-8 .u-text-2 {position: relative; margin: -216px 0 79px}
.u-section-8 .u-layout-cell-2 {min-height: 415px}
.u-section-8 .u-form-1 {height: 328px; width: 539px; margin: 40px auto}
.u-section-8 .u-inner-form-1 {margin-bottom: 20px}
.u-section-8 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 4px} 

@media (max-width: 1199px){ .u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-8 .u-text-1 {font-size: 3rem}
.u-section-8 .u-line-1 {width: 7px; margin-right: 58px}
.u-section-8 .u-form-1 {width: 444px} }

@media (max-width: 991px){ .u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-line-1 {width: 5px; margin-right: 36px}
.u-section-8 .u-form-1 {width: 340px} }

@media (max-width: 767px){ .u-section-8 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-8 .u-line-1 {margin-right: 17px}
.u-section-8 .u-form-1 {height: 343px; width: 530px; margin-top: 44px; margin-bottom: 29px}
.u-section-8 .u-inner-form-1 {margin-bottom: 35px} }

@media (max-width: 575px){ .u-section-8 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-8 .u-line-1 {width: 4px; margin-right: 21px}
.u-section-8 .u-form-1 {height: 328px; width: 268px; margin-top: 40px; margin-bottom: 40px}
.u-section-8 .u-inner-form-1 {margin-bottom: 20px} }